# CONFIG_DEBUG_KERNEL is not set
# CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG is not set
# CONFIG_AUDIT is not set
# CONFIG_CMUCAL_DEBUG is not set
# CONFIG_CONTEXTHUB_DEBUG is not set
# CONFIG_CRYPTOCIPHER_DEBUG is not set
# CONFIG_CRYPTO_FIPS is not set
# CONFIG_DEVTMPFS is not set
# CONFIG_EXYNOS_FMP_FIPS is not set
# CONFIG_ION_DEBUG_EVENT_RECORD is not set
# CONFIG_KNOX_NCM is not set
# CONFIG_MALI_EXYNOS_DEBUG is not set
# CONFIG_MMC_DW_DEBUG is not set
# CONFIG_NET_SUPPORT_DROPDUMP is not set
# CONFIG_NTFS_FS is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_SAMSUNG_LMKD_DEBUG is not set
# CONFIG_SBD_BOOTLOG is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SCSC_LOGRING is not set
# CONFIG_SCSC_LOG_COLLECTION is not set
# CONFIG_SCSC_MXLOGGER is not set
# CONFIG_SCSC_WIFILOGGER is not set
# CONFIG_SCSC_WLAN_MUTEX_DEBUG is not set
# CONFIG_SCSI_UFS_CMD_LOGGING is not set
# CONFIG_SEC_NFC_LOGGER is not set
# CONFIG_SEC_PM_DEBUG is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_THINLTO is not set
# CONFIG_UFS_DATA_LOG is not set
# CONFIG_USB_DEBUG_DETAILED_LOG is not set
CONFIG_INLINE_OPTIMIZATION=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_SLUB_CPU_PARTIAL is not set
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_BLK_CGROUP=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_BLK_DEV_THROTTLING_LOW=y
CONFIG_CFQ_GROUP_IOSCHED=y
# CONFIG_IOSCHED_MAPLE is not set
CONFIG_IOSCHED_CFQ=y
# CONFIG_IOSCHED_FIOPS is not set
# CONFIG_IOSCHED_SIO is not set
# CONFIG_IOSCHED_ZEN is not set
CONFIG_IOSCHED_ANXIETY=y
# CONFIG_DEFAULT_CFQ is not set
CONFIG_DEFAULT_ANXIETY=y
# CONFIG_DEFAULT_NOOP is not set
CONFIG_DEFAULT_IOSCHED="anxiety"
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_IOSCHED_BFQ is not set
CONFIG_THIN_ARCHIVES=y
# CONFIG_LD_BFD is not set
# CONFIG_LD_GOLD is not set
CONFIG_LD_LLD=y
# CONFIG_LTO is not set
CONFIG_ARCH_SUPPORTS_LTO_CLANG=y
CONFIG_ARCH_SUPPORTS_THINLTO=y
CONFIG_ARCH_SUPPORTS_LTO_GCC=y
CONFIG_LTO_NONE=y
# CONFIG_LTO_CLANG is not set
CONFIG_ARCH_INLINE_SPIN_TRYLOCK=y
CONFIG_ARCH_INLINE_SPIN_TRYLOCK_BH=y
CONFIG_ARCH_INLINE_SPIN_LOCK=y
CONFIG_ARCH_INLINE_SPIN_LOCK_BH=y
CONFIG_ARCH_INLINE_SPIN_LOCK_IRQ=y
CONFIG_ARCH_INLINE_SPIN_LOCK_IRQSAVE=y
CONFIG_ARCH_INLINE_SPIN_UNLOCK=y
CONFIG_ARCH_INLINE_SPIN_UNLOCK_BH=y
CONFIG_ARCH_INLINE_SPIN_UNLOCK_IRQ=y
CONFIG_ARCH_INLINE_SPIN_UNLOCK_IRQRESTORE=y
CONFIG_ARCH_INLINE_READ_TRYLOCK=y
CONFIG_ARCH_INLINE_READ_LOCK=y
CONFIG_ARCH_INLINE_READ_LOCK_BH=y
CONFIG_ARCH_INLINE_READ_LOCK_IRQ=y
CONFIG_ARCH_INLINE_READ_LOCK_IRQSAVE=y
CONFIG_ARCH_INLINE_READ_UNLOCK=y
CONFIG_ARCH_INLINE_READ_UNLOCK_BH=y
CONFIG_ARCH_INLINE_READ_UNLOCK_IRQ=y
CONFIG_ARCH_INLINE_READ_UNLOCK_IRQRESTORE=y
CONFIG_ARCH_INLINE_WRITE_TRYLOCK=y
CONFIG_ARCH_INLINE_WRITE_LOCK=y
CONFIG_ARCH_INLINE_WRITE_LOCK_BH=y
CONFIG_ARCH_INLINE_WRITE_LOCK_IRQ=y
CONFIG_ARCH_INLINE_WRITE_LOCK_IRQSAVE=y
CONFIG_ARCH_INLINE_WRITE_UNLOCK=y
CONFIG_ARCH_INLINE_WRITE_UNLOCK_BH=y
CONFIG_ARCH_INLINE_WRITE_UNLOCK_IRQ=y
CONFIG_ARCH_INLINE_WRITE_UNLOCK_IRQRESTORE=y
CONFIG_INLINE_SPIN_TRYLOCK=y
CONFIG_INLINE_SPIN_TRYLOCK_BH=y
CONFIG_INLINE_SPIN_LOCK=y
CONFIG_INLINE_SPIN_LOCK_BH=y
CONFIG_INLINE_SPIN_LOCK_IRQ=y
CONFIG_INLINE_SPIN_LOCK_IRQSAVE=y
CONFIG_INLINE_SPIN_UNLOCK_BH=y
CONFIG_INLINE_SPIN_UNLOCK_IRQ=y
CONFIG_INLINE_SPIN_UNLOCK_IRQRESTORE=y
CONFIG_INLINE_READ_TRYLOCK=y
CONFIG_INLINE_READ_LOCK=y
CONFIG_INLINE_READ_LOCK_BH=y
CONFIG_INLINE_READ_LOCK_IRQ=y
CONFIG_INLINE_READ_LOCK_IRQSAVE=y
CONFIG_INLINE_READ_UNLOCK=y
CONFIG_INLINE_READ_UNLOCK_BH=y
CONFIG_INLINE_READ_UNLOCK_IRQ=y
CONFIG_INLINE_READ_UNLOCK_IRQRESTORE=y
CONFIG_INLINE_WRITE_TRYLOCK=y
CONFIG_INLINE_WRITE_LOCK=y
CONFIG_INLINE_WRITE_LOCK_BH=y
CONFIG_INLINE_WRITE_LOCK_IRQ=y
CONFIG_INLINE_WRITE_LOCK_IRQSAVE=y
CONFIG_INLINE_WRITE_UNLOCK=y
CONFIG_INLINE_WRITE_UNLOCK_BH=y
CONFIG_INLINE_WRITE_UNLOCK_IRQ=y
CONFIG_INLINE_WRITE_UNLOCK_IRQRESTORE=y
CONFIG_LITTLE_CPU_MASK=15
CONFIG_BIG_CPU_MASK=240
CONFIG_CMDLINE="quiet androidboot.init_fatal_panic=true androidboot.init_fatal_reboot_target=recovery rcu_nocbs=0-7 noirqdebug nosoftlockup mce=ignore_ce cgroup_disable=pressure"
# CONFIG_CMDLINE_FROM_BOOTLOADER is not set
CONFIG_CMDLINE_EXTEND=y
CONFIG_KUSER_HELPERS=y
CONFIG_COMPAT_VDSO=y
CONFIG_CROSS_COMPILE_ARM32=""
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
# CONFIG_PM_DEBUG is not set
# CONFIG_PM_SLEEP_DEBUG is not set
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_SCHEDUTIL_UP_RATE_LIMIT=500
CONFIG_SCHEDUTIL_DOWN_RATE_LIMIT=20000
CONFIG_ARM_MODCLOCK=y
CONFIG_MAX_FREQ_BIG=2314000
CONFIG_MIN_FREQ_BIG=728000
CONFIG_MAX_FREQ_LITTLE=1742000
CONFIG_MIN_FREQ_LITTLE=403000
CONFIG_BATTERY_SAVER=y
# CONFIG_INPUT_ARIZONA_HAPTICS is not set
# CONFIG_GPIO_ARIZONA is not set
CONFIG_MFD_ARIZONA=y
CONFIG_MFD_ARIZONA_I2C=y
# CONFIG_HID_PLAYSTATION is not set
CONFIG_STATE_NOTIFIER=y
# CONFIG_ARM_EXYNOS_DEVFREQ_DEBUG is not set
# CONFIG_DEVFREQ_BOOST is not set
# CONFIG_EXTCON_ARIZONA is not set
# CONFIG_SEC_BOOTSTAT is not set
# CONFIG_PHY_EXYNOS_DEBUGFS is not set
CONFIG_DYNAMIC_FSYNC=y
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_PERMISSIVE is not set
# CONFIG_INTEGRITY is not set
# CONFIG_SDP is not set
CONFIG_CRYPTO_LZ4=y
CONFIG_ARCH_HAS_FAST_MULTIPLIER=y
CONFIG_LZ4_COMPRESS=y
CONFIG_HZ_250=y
# CONFIG_KNOX_NCM is not set
# CONFIG_AUDIT is not set
CONFIG_EROFS_FS=y
# EROFS_FS_DEBUG is not set
CONFIG_OPLUS_MM_HACKS=y
CONFIG_CC_OPTIMIZE_FOR_CORTEX_A53=y
# CONFIG_CC_OPTIMIZE_FOR_CORTEX_A73 is not set
CONFIG_ANDROID_BINDERFS=y
CONFIG_DISABLE_TRACE_PRINTK=y
CONFIG_INCREMENTAL_FS=y
CONFIG_WIREGUARD=y
CONFIG_TCP_CONG_HTCP=y
CONFIG_TCP_CONG_WESTWOOD=y
# CONFIG_FAST_TRACK is not set
# CONFIG_SEC_DEBUG is not set
# CONFIG_SEC_DEBUG_SOFTDOG is not set
